section{
    margin-top: 100px;
}

div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: yellowgreen;
    border: 2px solid black;
    margin: 10px;
}

div:nth-of-type(2n){
    background-color: yellow;
}

div:nth-of-type(3n){
    background-color: rgb(255, 204, 0);
}

#one,#three,#four{
    transform: rotate(45deg);
}

#six,#seven,#eight,#nine,#ten{
    transform: rotate(-45deg);
}

#two{
    transform: translate(100px);
}
#five{
    transform: translate(100px,100px);
}

#seven{
    transform: translate(200px);
}