h1{
    color: greenyellow;
}
h2{
    color: rgb(255,155,0);
}
h3{
color: rgb(175, 120, 255);
}
p1{
    color: #000000;
    background-color: #12ab45;
}
p2{
    color: #0000ff;
    background-color: #af80cf;
}
p3{
    color: #ffff00;
    background-color: #96ce10;
}