div{
   height: 200px; 
   width: 500px;
   background-color: pink;
   /*border-width: 5px;
   border-style: solid;
   border-color: black;*/
   border: 5px solid black;
   margin: 5px; 
   padding: 70px;
   border-left-color: yellow;
   border-right-color: yellow;
   border-top-color:greenyellow;
   border-bottom-color:greenyellow;
   border-right-width: 10px;
   border-left-width: 10px;
   border-radius: 50%;
}
h1{
    /*border-width: 2px;
    border-style: dashed;
    border-color: forestgreen ;*/
    border: 2px dashed forestgreen;
    border-width:5px;
    margin: 0;
}
button{
    border: 5px solid black;
    border-radius: 10px;
    color: green;
    padding-left: 25px;
    padding-right: 25px;
    background-color: yellow;
}