#container{
    height: 50px;
    width: 900px;
    border: 2px solid greenyellow;
    background-color: rgb(239, 150, 150);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-content: center;
}

#child{
 height: 50px;
 width: 80px;
 font-size: 24px;
 border-radius: 10px;
 margin-left: 5px;
 line-height: 50px;
}